* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
  --store-red: #e12d2d;
  --secondary-color: #f1f1f1;
  --text-color: #222;
  --white: #ffffff;
}


.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}